* { 

    font-family: fantasy;
    background-color: rgb(212, 212, 212);
    margin: 0;
   
}


h1 {

    font-family: fantasy;
    font-weight: bolder;
    color: red;
    background-color: black ; border: 0%;
    text-align: center;
    margin-top: 0%;
    overflow-x: 100%;
    
    
}


img {
    
    height: 500px;
    width: auto;
    margin: 25px;
    border-style: inset;
    border-color: red;
    border-width: 10px;
    
}



p, 
h2 {
margin: 25px;

}

a {

    color: black;
}

button:hover {

    width: auto;
    height: 45px;
   background-color: rgb(76, 68, 115);
   

}


ol li button {

    margin: 5px;

}
